ul>li{
font-style: italic !important;
}
.color1{
    color: #23a4bb !important;

}
.subt{
   color: #7983d8 !important;
   text-align: left;
   text-decoration: underline;
}

.emoji{
    font-style: initial;
}

.images-thumnail img{
    max-width: 150px;
    border: none!important;
    box-shadow: none !important;
    height: auto;
    margin: 20px!important;
    text-align: center;
    display: inline-flex;
    vertical-align: middle;

}